{% extends 'tienda/base.html' %}
{% block titulo %}{{ Item.itemname }}{% endblock %}
{% block contenido %}
<article>
    <h1>{{ Item.itemname }}</h1>
    <p class="text-muted">
        Por <strong>{{ Item.author.username }}</strong> ·
        {{ Item.fecha_creacion|date:"d \de F \de Y" }}
        {% if not Item.published %}
            <span class="badge bg-warning text-dark">Borrador</span>
        {% endif %}
    </p>
    <img src="{{ Item.img }}" alt="{{ Item.itemname }}" class="img-fluid rounded-4 mb-3" style="max-height: 400px; object-fit: cover;">
    <hr>
    <div class="mt-3">Stock: {{ Item.stock|linebreaks }}</div>
    {% if Item.stock > 0 %}
    <div class="mt-3">Precio: {{ Item.price|linebreaks }}</div>
    {% else %}
    <div class="mt-3"> Artículo sin stock </div>
    {% endif %}
    <span class="badge bg-dark fs-4">
        {% if Item.average_rating %}
        {{ Item.average_rating|floatformat:1 }} ⭐
        {% else %}
        / ⭐
        {%endif%}
    </span>

</article>

{% if user == Item.author %}
<div class="mt-4 d-flex gap-2">
    <a href="{% url 'edit_items' Item.pk %}" class="btn btn-outline-secondary">Editar</a>
    <a href="{% url 'remove_items' Item.pk %}" class="btn btn-outline-danger">Eliminar</a>
</div>
{% endif %}

<a href="{% url 'list_items' %}" class="btn btn-link mt-3">← Volver a la lista</a>
{% if user != Item.author and user.is_authenticated %}
<div class="mt-4 d-flex gap-2">
    <a href="{% url 'post_ratings' Item.pk %}" class="btn btn-outline-secondary">Valorar articulo</a>
</div>
{% endif %}

{% if Ratings %}
<section class="container mt-4">
    {% for r in Ratings %}
    <h4>{{ r.author.username }}</h4>
    
    <div class="mt-3">
        {% for _ in r.star_range %}
        ⭐
        {% endfor %}
    </div>
    
    <div class="mt-3">
        {{ r.comments|linebreaks }}
    </div>
    
    {% if user == r.author %}
    <div class="mt-4 d-flex gap-2">
        <a href="{% url 'edit_ratings' r.pk Item.pk %}" class="btn btn-outline-secondary">Editar</a>
        <a href="{% url 'remove_ratings' r.pk Item.pk%}" class="btn btn-outline-danger">Eliminar</a>
    </div>
    {% endif %}
    
    <hr>
    {% empty %}
    {% endfor %}
</section>
{% else %}
<p>No hay valoraciones aún.</p>
{% endif %}

{% endblock %}